/* Base style
   ========================================================================== */
   
/* Fonts */
@font-face {
   font-family: 'montheavy_demo';
   src: url('fonts/mont-heavydemo-webfont.woff2') format('woff2'),
        url('fonts/mont-heavydemo-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

html{ -webkit-user-select: none; -ms-user-select: none; user-select: none; background:#240040;}

/*-- Percent Loader -- */
#mainLoader{position:absolute;z-index:5; display:none; font-size:25px; line-height:25px; color:#fff; text-align:center; width:100%; font-family:'montheavy_demo';}

/*-- Content Wrapper -- */
#mainHolder{position:absolute; width:100%;height:100%;}

/*-- Browser Not Support -- */
#notSupportHolder{ width:90%; margin:5% auto; position:relative; color:#fff; text-align:center; font-size:25px; font-family:'montheavy_demo'; display:none;}

/*-- Rotate Animation -- */
@-moz-keyframes spin { 50% { -moz-transform: rotate(0deg); } 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotate(90deg); } 100% { -webkit-transform: rotate(0deg); } }
@keyframes spin { 50% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

/*-- Canvas Wrapper -- */
#canvasHolder{ display:none; width:100%; max-width:1280px; height:100%; margin:auto; position:relative;}
canvas{ position:fixed;}

/*-- Form Wrapper -- */
#editWrapper{ display:none; font-size:12px; font-family: Arial, Helvetica, sans-serif; }
#floatForm{ position:fixed; left:0; top:0; z-index:100; background:#48005E; padding:15px; color:#FFF; width:280px; border:#fff solid 2px; }
#floatForm #answerWrapper{ background:#240040; padding:10px;}
#floatForm input.button, #floatForm select.half, #floatForm label{ width:49%;}
#floatForm .formRow, #floatForm .formRowLong{ height: 28px; }
#floatForm .extraHeight{ height:80px; }
#floatForm .formRow input, #floatForm .formRow select{ float:right; width:48%;}
#floatForm .formRow label{ float:left; width:48%;}
#floatForm .divider{ margin:10px 0; padding:10px 10px; border:#FFF solid 1px;}
#floatForm input{ width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#floatForm textarea{ float:left; width:100%; resize:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }
#floatForm select, #floatForm option{ width:100%;}

.clearfix:after { content: "."; visibility: hidden; display: block; clear: both;}

/*-- Room Wrapper Unique -- */
.wheeloffortunequiz #roomWrapper, .wheeloffortunequiz #notificationHolder{ font-family: 'montheavy_demo'; }
.wheeloffortunequiz #roomWrapper input, .wheeloffortunequiz #roomWrapper button{ font-family: 'montheavy_demo'; }
.wheeloffortunequiz .roomContent select, .wheeloffortunequiz .roomContent textarea{ font-family: 'montheavy_demo'; }